* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* Header */
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin: 1rem 0;
}

/* Form */
.form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
}

/* Results */
.results {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.result-in {
    display: flex;
    justify-content: space-evenly
}

li {
    margin-bottom: 0.5rem;
}

